---
import BlogPreview from "../components/BlogPreview.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "List of all blogs";
---

<BaseLayout pageTitle={pageTitle}>
  {
    allPosts.map((post) => (
      <li class="list-item">
        <a href={post.url}>
          <BlogPreview
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            date={post.frontmatter.pubDate}
          />
        </a>
      </li>
    ))
  }
</BaseLayout>
